<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="no.hotdot.mapkit" version="0.0.1">
    <name>MapKit</name>
    <description>Cordova Plugin for Native Maps</description>
    <license>HotDot Open Source License</license>
    <keywords>cordova,device,maps,mapkit,apple,applemaps</keywords>
    <js-module src="www/mapkit.js" name="mapkit">
        <clobbers target="mapkit" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MapKit">
                <param name="ios-package" value="MapKit"/>
            </feature>
        </config-file>
        <header-file src="src/ios/MapKit.h" />
        <header-file src="src/ios/cordova-plugin-mapkit-Bridging-Header.h" />
        <source-file src="src/ios/MapKit.swift" />
    </platform>
</plugin>